:root {
    --light-bg: #DEEEEE;
    --text-light: #121212;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light-bg);
        color: var(--text-dark);
    }
    h1, h2, h3, p, pre {
        color: var(--text-dark);
    }
    a {
        color: var(--url-color);
    }
}

